{% extends 'pass/layout.html' %}

{% block content %}
    <h3><p>
        Часто в интернете при регистрации на различных сайтах, форумах, вконтакте, играх, майл.ру нас просят выбрать
        логин и
        пароль. С логином всё понятно, а как же быть с паролем? Использовать пароль в виде даты своего рождения или
        номера
        телефона не безопасно. Как же быть? Как защитить себя? Очень просто сгенерировать хороший взломостойкий пароль с
        помощью моего генератора паролей.
    </p></h3>
{% endblock %}