{% extends 'pass/layout.html' %}
{% block content %}


<div class="col-md-4 offset-md-4">
    <div class="card card-body bg-dark text-center text-light">
        <p class="fs-4" id="myText">{{ gen_pass }}</p>
        <button class="btn bg-dark text-light" onclick="copyContent()">Copy!</button>
        <a href="{% url 'home' %}" class="text-primary">Go to Home</a>
    </div>
</div>

<script>
  let text = document.getElementById('myText').innerHTML;
  const copyContent = async () => {
    try {
      await navigator.clipboard.writeText(text);
      console.log('Content copied to clipboard');
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }

</script>

{% endblock %}